:root{
--grayblue: #ced9da;
--darkblue: #102b3e;
--green:#9dc0cb;
}
.bg_grey_color{
    background-color: var(--grayblue);
}
.bg_darkblue_color{
    background-color: var(--darkblue);
}
.text_color{
    color: var(--darkblue);
}
.text_color_gray{
    color: var(--grayblue);
}
.item_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    
}
#preview{
    width: 90%;
    margin: 10px auto;
    border: 5px solid var(--green);
    border-radius: 30px;
    padding: 5px;
    box-sizing: border-box;
}
#preview__header{
    width: 100%;
}
#preview__content{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.content__box_img{
width: 150px;
height: 150px;
border-radius: 8px;
}
#presentation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}
.presentation__box_img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}